{% extends 'base.html' %}

{% block body %}
	<div class="default-page-bg">
		<div class="container">
			<br>
			<h3 class="center-hor">Bestillinger</h3>
			<br>
			<table class="table table-bordered" >
				<thead>
					<tr>
						<th scope="col" class="booking-table-header-cell">#</th>
						{% for show_date in dates_to_show %}
							<th scope="col" class="booking-table-header-cell" >{{ show_date }}</th>
						{% endfor %}
					</tr>
				</thead>
				{% for row in cabin_rows %}
					<tr>
						{% for col in row.data %}
							{{ col |safe}}
						{% endfor %}
					</tr>
				{% endfor %}
				
			</table>
		</div>
	</div>

	<div id="all-modals">
		{# Show Booking Modals #}
		{% for booking in bookings %}
			{% include 'intern/booking_modal.html' with booking=booking %}
		{% endfor %}

		{# Edit Booking Modals #}
		<div id="edit-booking-modals">
			{% for booking, booking_form in edit_booking_forms %}
				{% include 'intern/booking_modal_edit.html' with form=booking_form booking=booking %}
				{% include 'intern/booking_modal_close.html' with booking=booking %}
			{% endfor %}
		</div>
	</div>


	{# All Booking Ids #}
	<div id="all-bookings" class="hide">
		{% for booking in bookings %}
			<input type="hidden" value="{{ booking.id }}" />
		{% endfor %}
	</div>

{% endblock %}


{% block js %}
	<script type="text/javascript">


		function editBookingModalDatepickerSetup(){
			//Get IDs of all bookings currently showing
			ids = []
			$('#all-bookings').children('input').each(function () {
				ids.push(this.value);
			});

			for(i = 0; i < ids.length; i++)
			{
				id = ids[i];
				from_date_id = "#id-from-date-" + id.toString();
				to_date_id = "#id-to-date-" + id.toString();

				from_date = new Date($(from_date_id).val());
				to_date = new Date($(to_date_id).val());
				now = new Date();
				tomorrow = now.setDate(now.getDate() + 1)

				$(from_date_id).datepicker({
					format: 'dd.mm.yyyy',
					container: $(from_date_id).parent(),
				}).on('changeDate', function(e){
					datepickerCallback_from_date(id);
				});

				$(to_date_id).datepicker({
					format: 'dd.mm.yyyy',
					container: $(to_date_id).parent(),
				}).on('changeDate', function(e){
					datepickerCallback_to_date(id);
				});

				//Set current dates
				$(from_date_id).datepicker('update', from_date);
				$(to_date_id).datepicker('update', to_date);
			}
		}

		function editBookingModalChangeEventSetup(){
			//Get IDs of all bookings currently showing
			ids = []
			$('#all-bookings').children('input').each(function () {
				ids.push(this.value);
			});

			//Note dates are handled in editBookingModalDatepickerSetup()
			for(i = 0; i < ids.length; i++)
			{
				id = ids[i].toString();

				fields = [];

				fields.push($('#id-contact-name-' + id));
				fields.push($('#id-contact-phone-' + id));
				fields.push($('#id-contact-email-' + id));
				fields.push($('#id-contact-country-' + id));

				//Add event listener to all fields
				for(j = 0; j < fields.length; j++)
				{
					// fields[j].change(fieldChanged(id));
					fields[j].change(function(){
						fieldChanged(id)
					});
				}
			}
		}

		var originalModalHtml;

		function originalModalHtmlSetup(){
			originalModalHtml = $('#all-modals').html();
		}

		function resetAllModals(){
			if(originalModalHtml != undefined && originalModalHtml != null)
			{
				$('#all-modals').replaceWith(originalModalHtml);
				editBookingModalDatepickerSetup();
				editBookingModalChangeEventSetup();
			}
		}

		function fieldChanged(booking_id){
			$('#booking-changed-' + booking_id.toString()).val(1);
			console.log(booking_id);
			console.log($('#booking-changed-' + booking_id.toString()).val());
		}

		function datepickerCallback_from_date(booking_id){
			from_date_id = getFromDateID(booking_id);
			to_date_id = getToDateID(booking_id);

			from_date = $(from_date_id).datepicker('getDate');
			to_date = $(to_date_id).datepicker('getDate');

			if(from_date >= to_date)
			{
				to_date = from_date;
				to_date = to_date.addDays(1);
			}
			updateDatepicker(booking_id, from_date, to_date);

			//set changed flag to 1
			$('#booking-changed-' + booking_id.toString()).val(1);
		}

		function datepickerCallback_to_date(booking_id){
			from_date_id = getFromDateID(booking_id);
			to_date_id = getToDateID(booking_id);

			from_date = $(from_date_id).datepicker('getDate');
			to_date = $(to_date_id).datepicker('getDate');

			if(from_date >= to_date)
			{
				from_date = to_date;
				from_date = from_date.addDays(-1);
			}
			updateDatepicker(booking_id, from_date, to_date);

			//set changed flag to 1
			$('#booking-changed-' + booking_id.toString()).val(1);
		}

		function updateDatepicker(booking_id, from_date, to_date){
			from_date_id = getFromDateID(booking_id);
			to_date_id = getToDateID(booking_id);

			$(from_date_id).datepicker('update', from_date);
			$(to_date_id).datepicker('update', to_date);
		}

		function getFromDateID(booking_id){
			return "#id-from-date-" + booking_id.toString();
		}

		function getToDateID(booking_id){
			return "#id-to-date-" + id.toString();
		}

		function showBookingModal(id){
			$('#show-booking-modal-' + id).modal('show');
		}

		function showChargeCollapsable(id){
			$(id).collapse('toggle');
		}

		function showEditBookingModal(id){	
			hideModal('show-booking-modal-' + id);
			showModal('edit-booking-modal-' + id);
		}


		function addCabin(booking_id){
			
		}


		// SHOW / HIDE Modal functions

		var hideInProgress = false;
		var showModalId = '';

		function showModal(elementId) {
		    if (hideInProgress) {
		        showModalId = elementId;
		    } else {
		        $("#" + elementId).modal("show");
		    }
		};

		function hideModal(elementId) {
		    hideInProgress = true;
		    $("#" + elementId).on('hidden.bs.modal', hideCompleted);
		    $("#" + elementId).modal("hide");

		    function hideCompleted() {
		        hideInProgress = false;
		        if (showModalId) {
		            showModal(showModalId);
		        }
		        showModalId = '';
		        $("#" + elementId).off('hidden.bs.modal');
		    }
		};


		function closeEditBookingModal(booking_id){
			//Check that we have not edited anything
			console.log(booking_id);
			console.log($('#booking-changed-' + booking_id.toString()).val());
			if($('#booking-changed-' + booking_id.toString()).val() == 0)
			{	
				//We can safely close the modal
				closeEditBookingModalForce(booking_id);
			}
			else
			{
				//We have unsaved progress
				showModal('edit-booking-close-modal-' + booking_id.toString());
			}
		}

		function closeEditBookingModalForce(booking_id){
			hideModal('edit-booking-close-modal-' + booking_id.toString());
			hideModal('edit-booking-modal-' + booking_id.toString());
			setTimeout(function(){
				resetAllModals()
			}, 1000);
		}


		Date.prototype.addDays = function(days) {
			var date = new Date(this.valueOf());
			date.setDate(date.getDate() + days);
			return date;
		}



		editBookingModalDatepickerSetup();
		editBookingModalChangeEventSetup();
		originalModalHtmlSetup();

	</script>
{% endblock %}


