{% extends 'base.html' %}

{% block body %}
	<div class="default-page-bg">
		<div class="container">
			<br>
			<h3 class="center-hor">Bestillinger</h3>
			<br>
			<table class="table table-bordered" >
				<thead>
					<tr>
						<th scope="col" class="booking-table-header-cell">#</th>
						{% for show_date in dates_to_show %}
							<th scope="col" class="booking-table-header-cell" >{{ show_date }}</th>
						{% endfor %}
					</tr>
				</thead>
				{% for row in cabin_rows %}
					<tr>
						{% for col in row.data %}
							{{ col |safe}}
						{% endfor %}
					</tr>
				{% endfor %}
				
			</table>
		</div>
	</div>


	{# Modals #}
	{% for booking in bookings %}
		{% with id=booking.id|stringformat:"s" %}
			{% with modal_id="booking-modal-"|add:id %}
				{% include 'intern/booking_modal.html' with booking=booking id=modal_id %}			
			{% endwith %}
		{% endwith %}
	{% endfor %}

{% endblock %}


{% block js %}
	<script type="text/javascript">

		function showBookingModal(id){
			$(id).modal('show');
		}

		function showChargeCollapsable(id){
			$(id).collapse('toggle');
		}

	</script>
{% endblock %}


