@import 'variables';



h1, h2, h3, h4, h5, h6, p, td{
	&:hover{
		cursor: default;
	}
}

#body{
	margin-top: $navbar-height;
}

#phone-layout{
	text-align: center;
	font-size: 14px;
	position: relative;
	top: -10px;
}

.default-box{
	border: 1px solid $default-box-border-color;
	padding: 10px;
	box-shadow: 1px 1px 1px grey;
	background-color: $default-box-color;
}

.default-header{
	text-align: center;
	font-weight: $font-semibold;
	margin-bottom: 25px;

}

.default-sub-header{
	text-align: center;
	font-weight: $font-semilight;
}

.default-input{
	background-color: transparent;
	padding: 10px;
	border: 0px;
	margin-bottom: 1px;
	font-size: 20px;
}

.default-input-header{
	color: #707070;
	font-size: 15px;
	margin-bottom: 0px;
}

.hide-cursor{
	font-weight: 600;
	color: transparent;
	text-shadow: 0 0 0 black;

	&:focus{
		outline: none;

	}
}

.semilight-color{
	color: $font-semilight-color;
}

.hide{
	display: none;
}

.normal-button{
	background-color: $normal-button-color;
	border: 0px;

	color: white;
	font-weight: $font-semibold;

	text-align: center;

	&:hover{
		cursor: pointer;
	}
}

.default-link{
	color: #3A8437;
	text-decoration: underline;
	font-weight: $font-semibold;

	&:hover{
		cursor: pointer;
	}
}

.default-page-bg{
	background-color: $home-page-bg-color;
	padding-bottom: 500px;
}

.center-content{
	display: flex;
	align-items: center;
	justify-content: center;
}

