@import 'variables';



#body{
	margin-top: $navbar-height;
}

#phone-layout{
	text-align: center;
	font-size: 14px;
	position: relative;
	top: -10px;
}

.default-box{
	border: 1px solid $default-box-border-color;
	padding: 10px;
	box-shadow: 1px 1px 1px grey;
	background-color: $default-box-color;
}

.default-header{
	text-align: center;
	font-weight: $font-semibold;
	margin-bottom: 25px;

}

.default-sub-header{
	text-align: center;
	font-weight: $font-semilight;
}

.hide-cursor{
	font-weight: 600;
	color: transparent;
	text-shadow: 0 0 0 black;

	&:focus{
		outline: none;

	}
}

.semilight-color{
	color: $font-semilight-color;
}

.hide{
	display: none;
}

.normal-button{
	background-color: $normal-button-color;
	border: 0px;

	color: white;
	font-weight: $font-semibold;
}

.default-link{
	color: #3A8437;
	text-decoration: underline;
}

.default-page-bg{
	background-color: $home-page-bg-color;
	padding-bottom: 500px;
}
