//----- navbar -----//
$navbar-height: 100px;			//height of navbar in pixels
$navbar-bg-color: #01588C;		//background color of navbar
$navbar-logo-margins: 27px;		//top and bottom margins for logo in navbar


//----- home -----//
$home-page-bg-color: #F0F1F5;	//color of home page, also used on other pages
$home-image-height: 350px;		//the height of the home image in pixels

$default-box-color: #FFFFFF;		//The default color of all boxes
$default-box-border-color: #707070;	//The default border color of all boxes

$font-light: 300;
$font-semilight: 400;
$font-semibold: 500;
$font-bold: 700;

$font-semilight-color: #6E6E6E;		//color used for some semilight fonts


$square-button-color: #D1DAFF;

$normal-button-color: #3A8437;
