/* line 5, staticfiles/scss/common/common_classes.scss */
.default-box {
  border: 1px solid #707070;
  padding: 10px;
  box-shadow: 1px 1px 1px grey;
  background-color: #FFFFFF; }

/* line 12, staticfiles/scss/common/common_classes.scss */
.default-header {
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px; }

/* line 19, staticfiles/scss/common/common_classes.scss */
.default-sub-header {
  text-align: center;
  font-weight: 400; }

/* line 25, staticfiles/scss/common/common_classes.scss */
.search-cabin-form {
  border: 1px solid grey;
  padding: 10px; }

/* line 30, staticfiles/scss/common/common_classes.scss */
.search-cabin-input {
  border: 0px;
  background-color: #FFFFFF;
  height: 40px;
  text-align: center;
  width: 100%; }

/* line 40, staticfiles/scss/common/common_classes.scss */
.hide-cursor {
  font-weight: 600;
  color: transparent;
  text-shadow: 0 0 0 black; }
  /* line 45, staticfiles/scss/common/common_classes.scss */
  .hide-cursor:focus {
    outline: none; }

/* line 51, staticfiles/scss/common/common_classes.scss */
.search-cabin-input:focus {
  border: 0px;
  box-shadow: 0px 0px 0px;
  outline: none; }

/* line 61, staticfiles/scss/common/common_classes.scss */
#to-date {
  border-right: 1px solid grey;
  border-left: 1px solid grey; }

/* line 66, staticfiles/scss/common/common_classes.scss */
.semilight-color {
  color: #6E6E6E; }

/* line 70, staticfiles/scss/common/common_classes.scss */
.hide {
  display: none; }

/* line 74, staticfiles/scss/common/common_classes.scss */
.square-button {
  background-color: #D1DAFF;
  padding: 10px;
  border: 0px;
  padding-top: 30%; }
