/* line 5, staticfiles/scss/common/common_classes.scss */
.default-box {
  border: 1px solid #707070;
  padding: 20px;
  box-shadow: 1px 1px 1px grey; }

/* line 11, staticfiles/scss/common/common_classes.scss */
.default-header {
  text-align: center; }
