/* line 10, staticfiles/scss/common/common_classes.scss */
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, td:hover {
  cursor: default; }

/* line 15, staticfiles/scss/common/common_classes.scss */
#body {
  margin-top: 100px;
  z-index: 60; }

/* line 21, staticfiles/scss/common/common_classes.scss */
#footer {
  background-color: #F0F1F5; }

/* line 25, staticfiles/scss/common/common_classes.scss */
#phone-layout {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: -10px; }

/* line 33, staticfiles/scss/common/common_classes.scss */
#nav-logo:hover {
  cursor: pointer; }

/* line 38, staticfiles/scss/common/common_classes.scss */
#alerts-div {
  position: absolute;
  width: 100%;
  margin-top: 0px;
  z-index: 30; }

/* line 45, staticfiles/scss/common/common_classes.scss */
.alert-div {
  margin-bottom: 50px;
  margin-top: 0px; }

/* line 54, staticfiles/scss/common/common_classes.scss */
.hover-pointer:hover {
  cursor: pointer; }

/* line 59, staticfiles/scss/common/common_classes.scss */
.default-box {
  border: 1px solid #707070;
  padding: 10px;
  box-shadow: 1px 1px 1px grey;
  background-color: #FFFFFF; }

/* line 66, staticfiles/scss/common/common_classes.scss */
.default-header {
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px; }

/* line 73, staticfiles/scss/common/common_classes.scss */
.default-sub-header {
  text-align: center;
  font-weight: 400; }

/* line 78, staticfiles/scss/common/common_classes.scss */
.default-input {
  background-color: white;
  padding: 10px;
  border: 1px solid grey;
  margin-bottom: 1px;
  font-size: 20px;
  width: 100%; }

/* line 87, staticfiles/scss/common/common_classes.scss */
.default-input-label {
  margin-bottom: 0px; }

/* line 92, staticfiles/scss/common/common_classes.scss */
.default-input-container {
  width: 100%; }

/* line 96, staticfiles/scss/common/common_classes.scss */
.default-input-header {
  color: #707070;
  font-size: 15px;
  margin-bottom: 0px; }

/* line 102, staticfiles/scss/common/common_classes.scss */
.hide-cursor {
  font-weight: 600;
  color: transparent;
  text-shadow: 0 0 0 black; }
  /* line 107, staticfiles/scss/common/common_classes.scss */
  .hide-cursor:focus {
    outline: none; }

/* line 113, staticfiles/scss/common/common_classes.scss */
.semilight-color {
  color: #6E6E6E; }

/* line 117, staticfiles/scss/common/common_classes.scss */
.hide {
  display: none; }

/* line 121, staticfiles/scss/common/common_classes.scss */
.normal-button {
  background-color: #3A8437;
  border: 0px;
  color: white;
  font-weight: 500;
  text-align: center; }
  /* line 130, staticfiles/scss/common/common_classes.scss */
  .normal-button:hover {
    cursor: pointer; }

/* line 135, staticfiles/scss/common/common_classes.scss */
.default-link {
  color: #3A8437;
  text-decoration: underline;
  font-weight: 500; }
  /* line 140, staticfiles/scss/common/common_classes.scss */
  .default-link:hover {
    cursor: pointer;
    color: #3A8437; }

/* line 147, staticfiles/scss/common/common_classes.scss */
.default-page-bg {
  background-color: #F0F1F5;
  padding-bottom: 500px; }

/* line 152, staticfiles/scss/common/common_classes.scss */
.center-content {
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 158, staticfiles/scss/common/common_classes.scss */
.center-hor {
  display: flex;
  justify-content: center; }

/* line 163, staticfiles/scss/common/common_classes.scss */
.center-ver {
  display: flex;
  align-items: center; }

/* line 168, staticfiles/scss/common/common_classes.scss */
.round {
  position: relative; }

/* line 172, staticfiles/scss/common/common_classes.scss */
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px; }

/* line 184, staticfiles/scss/common/common_classes.scss */
.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px; }

/* line 198, staticfiles/scss/common/common_classes.scss */
.round input[type="checkbox"] {
  visibility: hidden; }

/* line 202, staticfiles/scss/common/common_classes.scss */
.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a; }

/* line 207, staticfiles/scss/common/common_classes.scss */
.round input[type="checkbox"]:checked + label:after {
  opacity: 1; }

/* line 212, staticfiles/scss/common/common_classes.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }
