/* line 3, staticfiles/scss/common/navbar.scss */
html {
  font-size: 100%; }

/* line 16, staticfiles/scss/common/navbar.scss */
#global-navbar {
  background-color: #01588C;
  border-radius: 0px;
  height: 100px; }
  /* line 21, staticfiles/scss/common/navbar.scss */
  #global-navbar #nav-logo {
    height: 140px; }
  /* line 25, staticfiles/scss/common/navbar.scss */
  #global-navbar .nav-link {
    color: white;
    font-weight: bold; }
  /* line 30, staticfiles/scss/common/navbar.scss */
  #global-navbar .nav-link:hover, #global-navbar .nav-link:disabled {
    background-color: #01588C; }
