/* line 3, staticfiles/scss/show_cabins.scss */
#date-header {
  text-align: center;
  font-weight: 500; }

/* line 8, staticfiles/scss/show_cabins.scss */
#info-header {
  text-align: center;
  font-weight: 500; }
