/* line 3, staticfiles/scss/show_cabins.scss */
#date-header {
  text-align: center;
  font-weight: 500;
  text-decoration: underline; }

/* line 9, staticfiles/scss/show_cabins.scss */
#info-header {
  text-align: center;
  font-weight: 700; }

/* line 15, staticfiles/scss/show_cabins.scss */
#cabin-search-result {
  padding: 5px;
  width: 60%;
  margin: auto; }

/* line 28, staticfiles/scss/show_cabins.scss */
.cabin-result-img {
  width: 100%; }

/* line 32, staticfiles/scss/show_cabins.scss */
.cabin-result-label {
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 5px; }

/* line 39, staticfiles/scss/show_cabins.scss */
.cabin-result-content {
  border: 1px solid grey;
  border-top: 0px;
  margin-bottom: 10px;
  padding: 40px;
  background-color: #E4E8F6; }

/* line 48, staticfiles/scss/show_cabins.scss */
.more-link {
  line-height: 0%; }

/* line 56, staticfiles/scss/show_cabins.scss */
.eqp-data {
  white-space: nowrap; }

/* line 61, staticfiles/scss/show_cabins.scss */
.choose-cabin-button {
  padding: 10px 25% 10px 25%;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%; }

/* line 70, staticfiles/scss/show_cabins.scss */
.choose-cabin-container {
  background-color: #F1F1F1;
  padding: 10px;
  width: 60%; }

/* line 81, staticfiles/scss/show_cabins.scss */
.accordion-label {
  border: 0px;
  background-color: transparent;
  width: 100%;
  text-align: left; }
  /* line 87, staticfiles/scss/show_cabins.scss */
  .accordion-label:focus {
    outline: none; }
  /* line 91, staticfiles/scss/show_cabins.scss */
  .accordion-label:hover {
    cursor: pointer; }

/* line 97, staticfiles/scss/show_cabins.scss */
.accordion-label-box {
  background-color: white;
  padding: 25px;
  border: 1px solid grey;
  margin-top: 5px; }
  /* line 103, staticfiles/scss/show_cabins.scss */
  .accordion-label-box:hover {
    cursor: pointer;
    background-color: #E4E8F6; }

/* line 109, staticfiles/scss/show_cabins.scss */
.accordion-label-selected {
  background-color: #E4E8F6; }

/* line 113, staticfiles/scss/show_cabins.scss */
.cabin-image-carousel {
  width: 100%; }

/* line 117, staticfiles/scss/show_cabins.scss */
.accordion-label-header {
  margin-left: 10px;
  font-size: 19px;
  font-weight: 500; }

/* line 123, staticfiles/scss/show_cabins.scss */
.accordion-content {
  background-color: #E4E8F6;
  border: 1px solid grey; }
