{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block body %}
<div class="default-page-bg">
	<div class="container">
		<br>
		<p class="date-header">{{ t_booking.from_date }} - {{ t_booking.to_date }}</p>

		<div id="content-container">
			<form action="" method="POST" id="info-form" >
				{% csrf_token %}
				{% for key, cabin in t_booking.cabins.items %}
					<div class="default-box">
						<div class="row cabin-row">
							<div class="col">
								<span class="booking-title">{{cabin.title}} </span>
							</div>
							<div class="col">
								<form id="remove-cabin-{{ cabin.number }}" method="POST" action="{% url 'booking_overview' %}">
									<button class="default-link change-link" type="submit" >Fjern</button>
									<div class="hide">
										{% csrf_token %}
										{{ cabin_search_form }}
										<input name="action" value="remove_cabin" />
										<input name="cabin_number" value="{{ cabin.number }}" />
									</div>
								</form>
									
							</div>
						</div>
					</div>
					<br>
				{% endfor %}

				<br>
				<div class="center-hor">
					<div>
						<a class="hover-pointer" onClick="AddCabin()" ><i id="add-cabin-plus" class="fas fa-plus"></i>Legg til hytte</a>
					</div>
				</div>

				<br>
				<hr>
				<br>

				<h3 class="center-hor" >Opplysninger</h3>
				<br>

				<div class="">
					<div class="row center-hor">
						<div class="col-5">
							<span class="center-hor" style="white-space:nowrap;">Mobilnummer (uten landskode):</span>
							{% render_field info_form.phone class="default-input" %}
						</div>
					</div>
					
				</div>

				<br>

				{% include 'main/checkbox_box.html' with id='late-arrival-checkbox' label='Sen ankomst (etter 18:00)' form_field=info_form.late_arrival class_name='col-8' %}
				<br>

				{% include 'main/checkbox_box.html' with id='accept-conditions-checkbox' label='Jeg har lest og godtatt <span class="default-link">prisbetingelsene</span><p id="conditions-error" class="hide">&nbsp;&nbsp;Du må godta prisbetingelsene våre</p>' form_field=info_form.accept_conditions class_name='col-8' %}
				<br>

				<div class="default-box">
					<div class="row cabin-row">
						<div class="col">
							<span>Legg til ekstra informasjon</span>
						</div>
						<div class="col">
							<span class="default-link change-link">Endre</span>
						</div>
					</div>
				</div>

				<br>
				<hr>
				<br>
				
			    <div>
			    	<button id="payment-button" class="normal-button" >Neste</button>
			    </div>
			</form>
		</div>
	</div>

	<div class="hide">
		<form id="payment-form" action="{% url 'charge_booking' %}" method="POST" >
			{% csrf_token %}
			<input id="phone-field" name="phone" type="hidden" />
			<input id="late-arrival-field" name="late_arrival" type="checkbox" />
			<input id="t_booking_id" name="t_booking_id" value="{{ t_booking.id }}" type="hidden" />
			<input id="TOTAL-PRICE" name="total_price" type="hidden" value="{{ t_booking.price }}" type="hidden" />
			<input id="token" name="token" type="hidden" />
			<input name="t_booking_JSON" value="{{ t_booking.JSON }}" />
			{{ cabin_search_form }}
		</form>
		<form id="add-cabin-form" action="{% url 'show_cabins' %}" method="POST" >
			{% csrf_token %}
			<input name="t_booking_id" value="{{ t_booking.id }}" />
			<input name="booking_action" value="add_cabin" />
			{{ cabin_search_form }}
		</form>
	</div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>


{% endblock %}