{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block body %}
	<div id="contact-info-container" class="container .default-page-bg">
		<div class="center-content">
			<form action="{% url 'payment_booking' %}" method="POST" id="main_form">
				{% csrf_token %}
				
				<div class="row center-hor">
					{% include 'main/input_field.html' with field=contactForm.name class_name='col-8' %}
				</div>
				<br>
				<div class="row center-hor">
					{% include 'main/input_field.html' with field=contactForm.email class_name='col-8' %}
				</div>
				<br>
				<div class="row center-hor">
						{% include 'main/input_field.html' with field=contactForm.country class_name='col-5' %}
						{% include 'main/input_field.html' with field=contactForm.phone class_name='col-3' %}
				</div>
				<br>
				<br>
				<div class="row center-hor">
					{% include 'main/checkbox_box.html' with id='late-arrival-checkbox' label='Sen ankomst (etter 18:00)' form_field=contactForm.late_arrival class_name='col-8' %}
				</div>
				<br>
				<div class="row center-hor">
					{% include 'main/checkbox_box.html' with id='accept-conditions-checkbox' label='Jeg har lest og godtatt <span class="default-link">prisbetingelsene</span>' form_field=contactForm.accept_conditions class_name='col-8' %}
				</div>
				
				<br>
				<div class="row center-hor">
					<div class="col-8">
						<button type="submit" id="continue-button" class="normal-button">Fortsett</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}