<div id="search-cabin-box" class="default-box">
	<h4 class="default-sub-header">Hytter</h4>
	<div class="container search-cabin-form">
		<div class="row">
			<div id="from-date" class="search-cabin-form-inputgroup col-sm">
				<span class="semilight-color">Innsjekk</span>
				<br>
				<input id="from-date-field" class="search-cabin-input">
			</div>
			<div id="to-date" class="col-sm search-cabin-form-inputgroup">
				<span class="semilight-color">Utsjekk</span>
				<br>
				<input id="to-date-field" class="search-cabin-input">
			</div>
			<div id="persons" class="col-sm search-cabin-form-inputgroup">
				<span class="semilight-color">Antall gjester</span>
				<br>
				<input id="person-amount" class="search-cabin-input">
			</div>
			<div id="search-button" class="col-sm">
				<button class="btn" onClick="submitSearch()">søk</button>
			</div>
			<form id="search-cabin-form" method="POST">
				{% csrf_token %}
				<input id="from-date-field-form" class="hide">
				<input id="to-date-field-form" class="hide">
				<input id="person-amount-form" class="hide">
			</form>
		</div>
		
		
		
	</div>
	
</div>