{% load widget_tweaks %}


<div class="container search-cabin-form" style="background-color: white;" >
	<form id="search-cabin-form" method="POST" action="{% url 'show_cabins' %}" style="width: 100%" autocomplete="off">
		{% csrf_token %}
		<input type="hidden" name="booking_action" value="cabin_search" />
		<div class="row">
			<div id="daterange-picker" class="input-group input-daterange" style="width: 50%">
				<div class="row" style="margin-left: 5px; margin-right: 5px;">
					<div id="from-date" class="col-sm search-cabin-form-inputgroup">
						<span class="semilight-color serach-cabin-field-header from_date">Innsjekk</span>
						<br>
						{% render_field form.from_date class="search-cabin-input form-control" id="daterange-from-date" %}
					</div>
					<div id="to-date" class="col-sm search-cabin-form-inputgroup">
						<span class="semilight-color serach-cabin-field-header to_date">Utsjekk</span>
						<br>
						{% render_field form.to_date class="search-cabin-input form-control" id="daterange-to-date" %}
					</div>
				</div>
			</div>

			
			<div id="persons" class="col search-cabin-form-inputgroup">
				<span id="persons-header" class="semilight-color serach-cabin-field-header">Antall gjester</span>
				<br>
				{% render_field form.persons id="persons-input" class="search-cabin-input col-sm" value="1" %}
			</div>
			<div id="search-button-container" class="col">
				<button id="search-button" class="normal-button" type="submit" ><span class="glyphicon glyphicon-search"></span> Søk</button>
			</div>
		</div>
	</form>
</div>