{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
<div class="default-page-bg">
	<div class="container">
		<br>
		<p class="date-header">{{ t_booking.from_date }} - {{ t_booking.to_date }}</p>

		<div id="content-container">
			<form action="{% url 'charge_booking' %}" method="POST" id="payment-form" >
				{% csrf_token %}
				<div class="default-box">
					<div class="row cabin-row">
						<div class="col">
							<span class="booking-title">{{cabin.title}} </span>
						</div>
						<div class="col">
							<span class="default-link change-link">Endre</span>
						</div>
					</div>
					
				</div>

				<br>
				<div class="center-hor">
					<div>
						<i id="add-cabin-plus" class="fas fa-plus"></i>Legg til hytte
					</div>
				</div>

				<br>
				<hr>
				<br>
				<div class="default-box">
					<div class="row cabin-row">
						<div class="col">
							<span>Legg til ekstra informasjon</span>
						</div>
						<div class="col">
							<span class="default-link change-link">Endre</span>
						</div>
					</div>
				</div>

				<br>
				<hr>
				<br>

				<h3 class="center-hor">Betaling</h3>

				
			    <br>
			    <div>
			    	<button id="payment-button" class="normal-button" >Fullfør</button>
			    </div>
			    <div class="hide">
			    	<input name="t_booking_id" value="{{ t_booking.id }}" />
			    	<input id="token" name="token" value="lol" />
			    </div>
			</form>
		</div>
	</div>

	<p id="TOTAL-PRICE" class="hide">{{ t_booking.price }}</p>

	



</div>
{% endblock %}